
body {
    margin: 100px auto;
    max-width: 500px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
select,
input {
    width: 250px;
    height: 30px;
    border: 1px solid lightblue;
    outline: none;
}
select {
    width: 100px;
    margin-left: 10px;
    letter-spacing: 2px;
}
span {
    color: orangered;
    font-size: 2em;
    font-weight: 900;
}
